@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Josefin+Slab:wght@300;400;700&family=Lato:ital,wght@0,100;0,400;1,300;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family:'Roboto', sans-serif;
}

/* global */

h1{
    font-family: 'Cinzel Decorative', cursive;
}

img{
    width:100%
}

/* navigation stylin */
header > nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color:#fff;
    padding: 10px;
}

.logo{
    text-decoration: none;
    color:green;
}

header > nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header > nav > ul > li{
    margin-right: 30px;
}

header > nav > ul > li>button{
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
header > nav > ul > li>button >span{
    margin-left: 10px ;
}

header > nav > ul > li> a{
    color: #000;
    text-decoration: none;
    transition: all 1s ease-in;
}

header > nav > ul > li> a:hover{
    color:green;
}

.menuBar{
    display: none;
    cursor: pointer;
}

/* sidebar */
.sideBar{
    position: absolute;
    top:0;
    left:0;
    z-index: 200;
  width: 250px;
  max-width: 100%;
  height: 100vh;
  background-color: #e9f4f5;
  transform: translateX(-100%);
  transition: all 0.5s ease-in;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBar > ul{
    margin-top: 8px;
    list-style: none;
}

.sideBar > ul > li{
    margin-bottom: 10px;
}
.sideBar > ul > li >a{
    text-decoration: none;
}

.sideBar > ul > li >button{
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.sideBar > a{
    margin-top: 40px;
}

.sideBar.open{
    transform: translateX(0);
}

/* main  section stytling*/
.meetupMain{
    width:80%;
    margin: 0 auto;
}

.meetup__intro{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5rem;
}

.meetup__intro > .meetup__intro-left{
    padding: 1rem;
}

.meetup__intro > .meetup__intro-left > h1{
   color: green;
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: 1.5rem;
}

.meetup__intro > .meetup__intro-right > img{
    color: green;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding: 1rem;
 }

/* services styling */

.services{
    margin-bottom: 20px;
}
.services_gallery{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sevices__gallery-items{
    padding: 10px;
}

.sevices__gallery-items .arrow{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #008294
}
.sevices__gallery-items > .arrow > span{
    margin-right: 5px;
}

.services__actions{
    display: flex;
    flex-wrap: wrap;
}
.services__actions > a{
    display: block;
    border-radius: 30px;
    background-color: #008294;
    color:#fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

/* end of services */



/* End of main */

/* table */
@media (max-width:810px){
    .meetup__intro > .meetup__intro-left > h1{
        font-size: 1.5rem;
     }
}


/* tablet/iphone */
@media (max-width:780px){
    .menuBar{
        display: block;
    }

    header > nav > ul{
        display: none;
    }

}

/* mobile */
@media (max-width:520px){
    .meetupMain{
        width:95%;
        margin: 0 auto;
    }
    .meetup__intro{
        flex-direction: column;
        margin-top: 3rem;
    }
    .meetup__intro > .meetup__intro-left > h1{
        font-size: 1rem;
        text-align: center;
     }
     .meetup__intro > .meetup__intro-left > p{
        text-align: justify;
     }

     .services_gallery{
         flex-direction: column;
     }

     .sevices__gallery-items{
        padding: 2px;
        margin: 10px 0;
    }

}